@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Google Sans';
    src: local('Google Sans'), url(./Fonts/GoogleSans-Regular_0.ttf) format('truetype');
}

body {
    font-family: 'Google Sans';
}
.mx-handler{
    margin-left: auto;
    margin-right: auto;
  
}
@media (min-width: 1024px) {
    .mx-handler{
        margin-left: 0px !important;
        margin-right: 0px !important;
      
    }
  }
  .container1{
    position: relative; 
    overflow: hidden;
    height: fit-content;
    width: inherit;
  }
  
  #fade-in1 {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: inherit;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    transform: translateX(0);
    background: transparent;
  }
  
  #fade-in2 {
    height: auto;
    width: inherit;
    background: transparent;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    transform: translateX(100%);
  }
  
  #fade-in1.inactive{
    transform: translateX(-100%);
  }
  #fade-in2.active {
    transform: translateX(0);
  }
  
  
  
  
  