@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Google Sans';
    src: local('Google Sans'), url(./Fonts/GoogleSans-Regular_0.ttf) format('truetype');
}

body {
    font-family: 'Google Sans';
}
.mx-handler{
    margin-left: auto;
    margin-right: auto;
  
}
@media (min-width: 1024px) {
    .mx-handler{
        margin-left: 0px !important;
        margin-right: 0px !important;
      
    }
  }